allow hal_sensors_default sensors_data_file:file rw_file_perms;
allow hal_sensors_default iio_device:chr_file r_file_perms;

allow hal_sensors_default efs_file:dir search;
r_dir_file(hal_sensors_default, app_efs_file)
